.slider_container {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 60px;
}

.slider_container h3 {
   font-weight: 400;
   font-style: italic;
   text-shadow: 0px 2px 2px #C4C4C4; 
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.slider_container h3::before, .slider_container h3::after  {
    content: " ";
    margin: 0 10px;
    display: block;
    width: 25px;
    height: 18px;
    background-image: url(../images/pattern-left.svg);
    background-repeat: no-repeat;
    background-size: 100%; 
}

.rec .rec-pagination {
   display: none;
}

.sliderBtn {
   border: none;
   outline: none;
   background: none; 
   transition: all 400ms ease-out;
   cursor: pointer;
}

.sliderBtn img {
   width: 55px;
   height: 55px;
   border-radius: 30px;
   transition: all 400ms ease-out;
}

.sliderBtn:disabled {
   opacity: 0.5;
}

.sliderBtn img:hover {
   box-shadow: 1px 1px 3px 0px #794d4d88; 
}


